:root {
  --gray-1: #fefefe;
  --gray-2: #dfdfdf;
  --gray-3: #c2c2c2;
  --gray-4: #a4a4a4;
  --gray-5: #878787;
  --gray-6: #686868;
  --gray-7: #4b4b4b;
  --gray-8: #2d2d2d;
  --gray-9: #111111;

  --primary-color-1: #e7dbf9;
  --primary-color-2: #d0b7f2;
  --primary-color-3: #b892ec;
  --primary-color-4: #a16ee5;
  --primary-color-5: #894adf;
  --primary-color-6: #6e3bb2;
  --primary-color-7: #522c86;
  --primary-color-8: #371e59;
  --primary-color-9: #1b0f2d;

  --primary-color: var(--primary-color-5);

  --secondary-color-2: #fbdab8;
  --secondary-color-3: #fac894;
  --secondary-color-4: #f8b571;
  --secondary-color-5: #f6a34d;
  --secondary-color-6: #c5823e;
  --secondary-color-7: #94622e;
  --secondary-color-8: #62411f;

  --secondary-color: var(--secondary-color-5);
}

@media (prefers-color-scheme: dark) {
  body:not(.light) {
    --gray-1: #111111;
    --gray-2: #2d2d2d;
    --gray-3: #4b4b4b;
    --gray-4: #686868;
    --gray-5: #878787;
    --gray-6: #a4a4a4;
    --gray-7: #c2c2c2;
    --gray-8: #dfdfdf;
    --gray-9: #fefefe;

    --primary-color-1: #1b0f2d;
    --primary-color-2: #371e59;
    --primary-color-3: #522c86;
    --primary-color-4: #6e3bb2;
    --primary-color-5: #894adf;
    --primary-color-6: #a16ee5;
    --primary-color-7: #b892ec;
    --primary-color-8: #d0b7f2;
    --primary-color-9: #e7dbf9;

    --secondary-color-2: #62411f;
    --secondary-color-3: #94622e;
    --secondary-color-4: #c5823e;
    --secondary-color-5: #f6a34d;
    --secondary-color-6: #f8b571;
    --secondary-color-7: #fac894;
    --secondary-color-8: #fbdab8;
  }
}

@media all {
  body.dark {
    --gray-1: #111111;
    --gray-2: #2d2d2d;
    --gray-3: #4b4b4b;
    --gray-4: #686868;
    --gray-5: #878787;
    --gray-6: #a4a4a4;
    --gray-7: #c2c2c2;
    --gray-8: #dfdfdf;
    --gray-9: #fefefe;

    --primary-color-1: #1b0f2d;
    --primary-color-2: #371e59;
    --primary-color-3: #522c86;
    --primary-color-4: #6e3bb2;
    --primary-color-5: #894adf;
    --primary-color-6: #a16ee5;
    --primary-color-7: #b892ec;
    --primary-color-8: #d0b7f2;
    --primary-color-9: #e7dbf9;

    --secondary-color-2: #62411f;
    --secondary-color-3: #94622e;
    --secondary-color-4: #c5823e;
    --secondary-color-5: #f6a34d;
    --secondary-color-6: #f8b571;
    --secondary-color-7: #fac894;
    --secondary-color-8: #fbdab8;
  }
}
