<svg xmlns="http://www.w3.org/2000/svg" width="1070" height="1070" viewBox="0 0 1070 1070" version="1.1">
  <ellipse cx="535" cy="535.5" rx="512" ry="511.5" fill="#fff" />
  <circle cx="279" cy="279" r="128" fill="#e37" />
  <circle cx="535" cy="279" r="128" fill="#d43991" />
  <circle cx="791" cy="279" r="128" fill="#a344c5" />
  <circle cx="279" cy="535" r="128" fill="#bc3eab" />
  <circle cx="535" cy="535" r="128" fill="#894adf" />
  <circle cx="791" cy="535" r="128" fill="#647fdf" />
  <circle cx="279" cy="791" r="128" fill="#7664e0" />
  <circle cx="535" cy="791" r="128" fill="#647fdf" />
  <circle cx="791" cy="791" r="128" fill="#5199e0" />
  <rect width="512" height="512" x="279" y="279" fill="none" stroke-width="32" stroke="#000" />
</svg>

<style>
  svg {
    width: var(--line-height);
    height: var(--line-height);
    padding-right: 6px;
  }
</style>
